<% provide(:title, "About") %>
    <h1>Sample Application No.2</h1>
    <h3>About page</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cumque mollitia repellendus? Fugit doloremque, officiis maiores amet odit quos vero?</p>
    <hr>
    <p>
    <a href="http://localhost:3000/static_pages/home">Home</a>
    
    <%= link_to "Home", root_path %>
    </p>