<div class="center jumbotron">
    <h1>Sample App</h1>
    <h3>Homepage</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cumque mollitia repellendus? Fugit doloremque, officiis maiores amet odit quos vero?</p>
    <hr>

     <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
     <%= link_to "Login", '/login', class: "btn btn-lg btn-primary" %>
<br>

<hr>
    <%= link_to image_tag("kitten.jpg", alt: "Rails logo"), '#s' %>
</div>